body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}


/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: linear-gradient(to right, #0f172a, #1e293b);
}

.hero-image img {
    width: 300px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
}


.btn {
    background: #38bdf8;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
}


/* SECTIONS */
section {
    padding: 60px;
    text-align: center;
}

h1 {
    color: #38bdf8;
    font-size: 40px;
}

h2 {
    color: #38bdf8;
}


/* SKILLS */
.skill-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.skill img {
    width: 80px;
}


/* PROJECTS */
.project-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.project img {
    width: 300px;
    border-radius: 15px;
}


/* VIDEO */
video {
    margin-top: 20px;
}


/* CONTACT */
.contact {
    background: #020617;
}
